spring.application.name=myblog
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=update
#spring.datasource.url=jdbc:oracle:thin:@localhost:1521:xe
#spring.datasource.username=admin
#spring.datasource.password=admin
#spring.datasource.driver-class-name=oracle.jdbc.driver.OracleDriver

# MariaDB
spring.datasource.url=사랑해요
spring.datasource.username=오마이갓
spring.datasource.password=your 이게리얼?
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver

server.port=8080

