<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<title>BLOGHOME</title>
</head>
<body>
    <div th:insert="~{header::banner}"></div>
	<div class="articles">
		<h3>게시글 목록</h3>
		
		<table>
			<tr><th>제목</th><th>작성자</th></tr>
			<tr th:each="a: ${articles}">
				<td>
					<a th:href="@{/myblog/read?num={id}(id=${a.num})}">[[${a.title}]]</a>
				<td th:text="${a.author}"></td>
			</tr> 
			<div class="page_no">
				<tr>
					<td colspan=3>
						<th:block th:if="${articles.totalPages} == 0">
							<a th:href="@{/myblog/bbs?pno=0}">1</a>
						</th:block>
						<th:block th:if="${articles.totalPages} > 0" th:each="p:${#numbers.sequence(1, articles.totalPages)}">
							<a th:href="@{/myblog/bbs?pno={p}(p=${p-1})}">[[${p}]]</a>
						</th:block>
					</td>
				</tr>
			</div>
		</table>
		<p><a th:href="@{/myblog/bbs/write}">글 작성</a></p>
	</div>
</body>
</html>