<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<style>
		table,td{
			border: 1px solid lightgray;
			border-collapse: collapse;
		}

		th{
			border: 1px solid white;
			border-collapse: collapse;
		}

		th{
			background-color: #96D4D4;
		}
	</style>
	<title>게시글 목록</title>
</head>
<body>
	<h3>게시글 목록</h3>
	<p>
		<a th:href="@{/myblog}">첫 페이지</a>
		<a th:href="@{/myblog/bbs/write}">글 작성</a>
	</p>
	<table style="width:100%">
		<tr><th>번호</th><th>제목</th><th>작성자</th></tr>
		<tr th:each="a: ${articles}">
			<td th:text="${a.num}"></td>
			<td>
				<a th:href="@{/myblog/read?num={id}(id=${a.num})}">[[${a.title}]]</a>
			<td th:text="${a.author}"></td>
		</tr> 
		<tr>
			<td colspan=3>
				<th:block th:each="p:${#numbers.sequence(1, articles.totalPages)}">
					<a th:href="@{/myblog/bbs?pno={p}(p=${p-1})}">[[${p}]]</a>
				</th:block>
			</td>
		</tr>
	</table>
</body>
</html>