<!-- 헤더 섹션 -->
<div th:fragment="header" class="header">
    <div class="logo">
        <a href="#" th:href="@{/}">
    	<img src="https://easyportstorage.blob.core.windows.net/defaultimages/mnin_icon.png" width="90vh"/> 
        </a>
    </div>
    <nav class="nav">
        <a href="#">전체</a>
        <a href="#">과제</a>
        <a href="#">소셜</a>
        <a href="#">공지사항</a>
        <a href="#">퀴즈방</a>
    </nav>
    <div class="icons">
        <span class="icon user-icon">👤</span>
        <span class="icon notification-icon">🔔</span>
        <!-- 로그인 아닐시 -->
		<block th:style="${logined} ? 'display:none' : ''" >
			<button class="login-button" onclick="window.location.href='/login'">로그인</button>
		</block>

		<!-- 로그인 시 -->
		<block th:style="${logined} ? '' : 'display:none'">
			<button class="login-button" onclick="window.location.href='/logout'">로그아웃</button>
		</block>
    </div>
</div>

<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vh 4vh;
        background-color: #fff;
        border-bottom: 1px solid #e0e0e0;
    }

    .logo {
        margin-left: 15%;
        font-weight: bold;
    }

    .nav {
        display: flex;
        gap: 3vh;
        
    }

    .nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .icons {
        margin-right: 15%;        
        display: flex;
        align-items: center;
        gap: 2vh;
    }

    .icon {
        font-size: 2vh;
        color: #333;
    }

    .login-button {
        background-color: #00a789;
        color: #fff;
        border: none;
        padding: 1vh 2vh;
        border-radius: 1vh;
        cursor: pointer;
    }
</style>