<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>첫 페이지</title>
</head>
<body>
	<h3>첫 페이지</h3>
	<p><a th:href="@{/myblog/signup}">사용자 등록</a></p>
	<p><a th:href="@{/myblog/login}">사용자 로그인</a></p>
	<p><a th:href="@{/myblog/bbs}">게시글</a></p>
	<p><a th:href="@{/myblog/logout}">사용자 로그아웃</a></p>
	
	<form action="#" th:action="@{/myblog/login}" method="post">
		<input type="hidden" value="admin@1" name="email"/>
		<input type="hidden" value="admin" name="passwd"/>
		<input type="submit" value="자동로그인"/>
	</form> 
</body>
</html>