<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/header.css">
	<title>BLOGHOME</title>
</head>

<body>
	<div th:insert="~{header::header}"></div>
	<div class="new_article">
		<h3>게시물 글 작성</h3>
		<form action="#" th:action="@{/bbs/add}" th:object="${article}" method="post">
			<p>제목: </p>
			<p><input type="text" th:field="*{title}" /></p>
			<p>내용: </p>
			<p><input type="hidden" th:field="*{body}" id="content" /></p>
			<div contenteditable="true" id="editor" style="width: 70%; min-height: 30vh; border: 1px solid black;">

			</div>
			<p>
				현재 글자 수 : <span id="currentCharsCount">0</span> / 1000
			</p>
			<p>
				<button class="btnSave" id="submitButton">등록</button>
				<input type="reset" value="취소" onclick="location.href='/bbs'" />
			</p>
		</form>
	</div>
</body>

<script>

	const submitButton = document.getElementById('submitButton');
	const editor = document.getElementById('editor');

	submitButton.addEventListener('click', function () {
		// 폼 제출 전 작업 (예: 편집기 내용 숨겨진 필드에 복사)
		const editorContent = editor.innerHTML;
		document.getElementById('content').value = editorContent;

		// 폼 제출
		form.submit();
	});

	//글자 수 제한시키는 코드

	const currentCharsCount = document.getElementById('currentCharsCount');
    const maxChars = 1000;

	const updateCharCount = () => {
        const text = editor.innerText;
        currentCharsCount.textContent = text.length;
    };
	
	const handleInput = (e) => {
        const text = editor.innerText;
        if (text.length > maxChars) {
            alert('글자 수는 1000자를 넘을 수 없습니다.');
            editor.innerText = text.substring(0, maxChars);
            // Move the cursor to the end after truncation
            const range = document.createRange();
            const sel = window.getSelection();
            range.setStart(editor.childNodes[0], maxChars);
            range.collapse(true);
            sel.removeAllRanges();
            sel.addRange(range);
        }
        updateCharCount();
    };


    editor.addEventListener('input', handleInput);

</script>

</html>